.git
.gitignore
.github
node_modules
vendor
.env
.env.*
!.env.coolify.example
storage/app/public/*
storage/app/private/*
storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
database/database.sqlite
public/build
public/hot
public/storage
tests
.idea
.vscode
*.md
!README.md
docs
info.md
